@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav__li {
    @apply hover:underline underline-offset-4 hover:text-violet-600 transition-all duration-300 ease-in cursor-pointer;
  }

  .nav__li .active {
    @apply text-violet-600 underline-offset-4 cursor-pointer underline;
  }
}

html.dark {
  @apply bg-darkPurple text-white;

  .bg__header {
    @apply bg-purple;
  }
}

html.light {
  @apply bg-zinc-300 text-darkPurple;

  .bg__header {
    @apply bg-zinc-200 text-zinc-900;
  }
}

/* scrollbar */

html::-webkit-scrollbar {
  width: 10px;
}

html {
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  scrollbar-color: rgb(124 58 237) transparent;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: rgb(124 58 237);
}

html::-webkit-scrollbar-thumb:hover {
  background: rgb(109 40 217);
}
